* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: rgb(255, 253, 246);
}

main {
  text-align: center;
}

#title {
  font-size: 3rem;
}
#bday-input,
#show-btn,
#result {
  font-size: 1.5rem;
}

#result {
  padding: 2rem;
}
